@charset "utf-8";

html, body, ul {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
input, textarea{
    outline: none;
}
textarea {
    resize: none;
}
img {
    vertical-align: middle;
}