<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>常用指令2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript" charset="UTF-8"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .size{
            font-size: 20px;
        }
        .redColor{
            color: red;
        }
        .blueColor{
            color: blue;
        }
    </style>
</head>
<body>
<!-- v-for-->
<div id="box1">
    <ul>
        <p>v-for取index和value</p>
        <li v-for="(value, index) in list">{{index}}---------{{value}}</li>
        <p>v-for只取value</p>
        <li v-for="value in list">{{value}}</li>
        <p>v-for遍历字符串'abcd'</p>
        <li v-for="value in str">{{value}}</li>
        <p>v-for遍历数字3</p>
        <li v-for="value in 3">{{value}}</li>
        <p>v-for遍历对象</p>
        <li v-for="(value, key) in obj">{{key}}----------{{value}}</li>
    </ul>
</div>
<script>
    let vue1 = new Vue({
        el: "#box1",
        data: {
            list: ['小红', '小绿', '小蓝', '小黄'],
            str: 'abcd',
            obj: {
                'name': 'luffy',
                'age': '12'
            }
        }
    })
</script>

<!-- v-bind-->
<div id="box2">
    <!-- 绑定一个 attribute -->
    <input type="text" v-bind:value="name">
    <!-- 缩写 -->
    <input type="text" :value="age">
    <input type="text" :value="age + 1">
    <p><img :src="image_src" width=1000px></p>
<!--v-bind绑定class注意事项：
    1. 类名要放到list中
    2. 类名要加引号
    -->
    <p :class="['redColor']">v-bind绑定class</p>
    <p :class="['size', 'blueColor']">v-bind绑定class</p>
<!--    使用三目运算符实现按需绑定-->
    <p :class="['size', isRed ? 'redColor' : 'blueColor']">v-bind三目运算符绑定class</p>
<!--    通过对象来决定是否需要绑定-->
    <p :class="['size', {'redColor': isRed}]">v-bind通过对象绑定class</p>

<!--    v-bind绑定style-->
    <p :style="{color: 'green'}">v-bind绑定style</p>
    <p :style="{color: 'yellow', 'fond-size': '30px'}">v-bind绑定style</p>
    <p :style="{'color': 'aqua', 'fond-size': '20px'}">v-bind绑定style</p>
    <p :style="obj">v-bind绑定style，通过model中的对象</p>
</div>
<script>
    let vue2 = new Vue({
        el: '#box2',
        data: {
            name: '我是v-bind',
            age: 18,
            image_src: './images/1.jpg',
            isRed: true,
            obj: {
                color: 'chocolate',
                size: '40px'
            }
        }
    })
</script>


</body>
</html>